<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <style type="text/css">
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .panel {
    	background-color: yellow;
    	margin-top: 10px;
    	width: 200px;
    }

    .panel_head {

    }

    .panel_body {
    	margin-left: 20px;
    }

    .panel_body li {
    	margin-top: 5px;
    }
    </style>
</head>

<body>
    <div>
    <div class="panel">
    <ul><span>Classification</span></ul>
    <ul class="panel_body">
    	<li><a href="#">test1</a></li>
    	<li><a href="#">test2</a></li>
    </ul>
    </div>
    <div class="panel">
    <ul><span>Hot Articles</span></ul>
    </div>
</body>

</html>
